<div class="sidebar-header">
    <h3>Index</h3>
</div>
<div class="sidebar-top">
    <p>Regions</p>
    {{#nav-bar-item link="" text="Timelines" }}
        {{#nav-bar-item link="" text="Page One"}}
            {{nav-bar-item link="BlessedAge" text="BlessedAge" }}
        {{/nav-bar-item}}
        {{nav-bar-item link="" text="Page Two"}}
    {{/nav-bar-item}}
    {{nav-bar-item link="#About" text="Characters"}}
</div>